@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 0, 0, 0;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-image: url('/background/rwanda.jpg');
  background-image: url('/background/background_4.jpg');
  background-size: cover;
  background-repeat: no-repeat;  
  background-position: left top;
  background-attachment: fixed;
  height: 100%;
  margin: 0; 

}

/* Adjust the background position for each image layer */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    url('/background/rwanda.jpg'),
    url('/background/background_4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1; /* Place this layer behind the content */
}

.homeSectionMainContainer {
  width: 70%;
  margin-left: 15%;
}

.homeSectionIntro {
  height: 80vh;
  margin-top: 10%;
}

.homeSectionProjects {
  height: 100vh;
  margin-top: 10%;
}

.homeSectionLogo {
  float: left;
}
.homeTitleContainer {
  margin-top: 10%;
}
.homeIntroContainer {
  margin-top: 20px;
  margin-right: 5%;
}
.homeIntroBox {
  background-color: rgba(252, 252, 252, 0.505);
  font-size: 22px;
  color: rgb(59, 55, 45);
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
  padding: 3%;
}

.homeCurrentProjectsContainer {
  margin-right: 20%;
  background-color: rgba(41, 38, 38, 0.3);
  font-size: 16px;
  color: rgb(241, 239, 234);
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
  padding: 3%;
}

.homeFlexContainer {
  display: flex;
  justify-content: left;
  align-items: top center;
  padding: 2%;
}

.homeLabelContainer {
  width: 100%;
}

.homeVideoContainer {
  margin-top: 5%;
  width: 50%;
  right: 0; 
  top: 0;
}

h1 {
  font-size: 72px;
  font: semibold;
  font-family:  Georgia, serif;
  letter-spacing: 5px;
}

@media (max-width: 768px) {
  .homeSectionMainContainer {
    width: 100%;
    margin-left: 0%;
  }

  .homeSectionIntro {
    height: 100%;
    margin-top: 10%;
  }
  
  .homeSectionProjects {
    height: 100%;
    margin-top: 10%;
  }

  .homeFlexContainer {
    flex-direction: column;
  }

  .homeIntroBox {
    background-color: rgba(252, 252, 252, 0.505);
    font-size: 18px;
    letter-spacing: 1px;
  }

 .homeLabelContainer {
  width: 100%;
  }

  .homeIntroContainer {
    width: 100%;
    margin: 0;
    padding: 0;
  }  

  .homeTitleContainer{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .homeVideoContainer {
    width: 100%;
  }

  h1 {
    font-size: 24px;
    font: semibold;
    font-family:  Georgia, serif;
    letter-spacing: 5px;
  }
  }

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
