@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 0, 0, 0;
}

@media (max-width: 800px) {
  .homeFlexContainer {
    flex-direction: column; 
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

}

.homeSectionIntroMainContainer {
  background-image: url('/background/rwanda.jpg');
  width: 100vw; 
}

.homeSectionCurrentProjectMainContainer {
  background-image: url('/background/background_2.jpg');
  width: 100vw; 
}

.homeSectionLogo {
  float: left; 
}

.homeIntroContainer {
  margin: 20px;
  width: 60%; /* Set the width of the div to 50% of its parent (the container) */
}


.homeIntroBox {
  background-color: rgba(39, 39, 39, 0.282); /* Red background with 50% opacity */  
  font-size: 16px;
  color: rgb(255, 250, 239);
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
  padding: 20px;
}

.homeFlexContainer {
  display: flex; /* Use Flexbox to align divs horizontally */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 5%;
}