@tailwind base;
@tailwind components;
@tailwind utilities;


.main_page {
  background-color: rgba(225, 221, 203, 0.5); /* Red background with 50% opacity */
  color: #000000; /* Text color */
  
  /* Padding and margin */
  padding: 20px;
  margin: 0px;
   /* Font size and family */
  font-size: 16px;
  font-family: Arial, sans-serif;
  width: 100%; /* Set the width of the div to 50% of its parent (the container) */
  
  /* Box shadow for a subtle 3D effect */
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 120, 100, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-image: url('/background/background_2.jpg');


}
